*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(35, 35, 35);
    color: white;
}
#header{
    margin-left: 5%;
    width: 90%;
}
h1{
    margin-top: 3%;
    margin-bottom: 3%;
}
input{
    border-radius: 0.3rem;
    border: none;
    width: 98.5%;
    height: 3rem;
    margin-bottom: 0.4rem;
    padding-left: 1.2rem;
}
input::placeholder{
    color: gray;
}
hr{
    margin-top: 1rem;
    border-color: gray;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
}
#pendientes{
    margin-left: 5%;
}
#cantidad_pendientes{
    margin-right: 2%;
}
#borrarTareas{
    color: orange;
    margin-left: 2%;
}
#lista{
    margin-top: 1rem;
}
ul{
    margin-left: 5%;
    list-style: none;
    border: 1px solid gray;
    width: 90%;
    border-radius: 0.3rem;
    background-color: rgb(50, 50, 50);
}
li{
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.3rem;
    border-top: 1px solid gray;
    font-size: 2rem;
}
li:first-child{
    border-top: none;
}
#recordatorio{
    display: flex;
}
button{
    background-color: rgb(75, 75, 75);
    color: rgb(110, 110, 110);
    border: none;
    border-radius: 0.2rem;
    margin-left: 0.4rem;
    padding: 0.2rem;
    font-size: 12px;
}
#hecho{
    border: 3px solid white;
    border-radius: 10rem;
    height: 0.625rem;
    margin-top: 1rem;
}
#contenido{
    margin-left: 1.5%;
}
#prioridades{
    margin-top: 3%;
    margin-left: -5%;
    font-size: 14px;
    color: rgb(110, 110, 110);
    padding-left: 1.5rem;
    padding-bottom: 0.4rem;
}
#tiempo{
    margin-top: 3%;
    font-size: 14px;
    color: rgb(110, 110, 110);
    padding-left: 1.5rem;
    padding-bottom: 0.4rem;
}
footer{
    color: gray;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}
#GitHub{
    color: rgb(1, 174, 134);
}
.fa-square-minus{
    color: red;
    position: absolute;
    right: 6%;
    float: right;
}



/* VUE */
.completado{
    text-decoration: line-through;
    color: aqua;
}
.hecho{
    background-color: aqua;
}
.low{
    background-color: green;
    color: white;
}
.normal{
    background-color: blue;
    color: white;
}
.high{
    background-color: red;
    color: white;
}
#filtro{
    width: 10%;
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    margin-top: 0.8rem;
    margin-left: 5%;
}
select{
    margin-left: 3%;
    width: 5.5%;
    height: 24px;
    border-radius: 0.3rem;
}